@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	html {
		scroll-behavior: smooth;
	}

	.bg-gray-light {
		--tw-bg-opacity: 1;
		background-color: rgba(226, 230, 243, var(--tw-bg-opacity));
	}

	.search-shadow {
		box-shadow: 0 7px 14px 0 rgb(8 15 52/3%);
	}

}